/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Default font for your app */
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

/* Different Styles */
h1 {
  font-weight: 900; /* Heavy Black */
}

h2 {
  font-weight: 700; /* Bold */
}

h3 {
  font-weight: 500; /* Medium */
}

p {
  font-weight: 400; /* Normal */
}

.small-text {
  font-weight: 300; /* Light */
}

.italic-text {
  font-style: italic;
  font-weight: 400;
}
